body{
background: linear-gradient(to left, #000066 0%, #cc00ff 100%);
background-position: center;
    background-size: cover;
  
}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    margin-top: 75px;

}

.form h1{
    width: 220px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #9900ff;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #9900ff;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #9900ff;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #fff;
    color: #9900ff;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 5px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #9900ff;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.icons a{
    text-decoration: none;
    color: #fff;
}

.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s;
}

.icons ion-icon:hover{
    color: black;
}